@font-face {
  font-family: 'Amatic SC';
  src: url('./fonts/AmaticSC-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('./fonts/AmaticSC-Bold.ttf');
  font-weight: 600;
}

body {
  background: repeating-linear-gradient(
   135deg,
   #222,
   #222 35px,
   #333 35px,
   #333 70px
  );
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body.mobile {
  /*background: repeating-linear-gradient(
   135deg,
   #222,
   #222 45px,
   #333 45px,
   #333 90px
  );*/
  background: none;
  background-color: #222;
}

#headshot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  height: 180px;
  width: 180px;
  border-radius: 300px;
  border: 9px solid tomato;
  overflow: hidden;
  transition: transform 1.5s;
  transform: translate(-50%,-50%) rotate(0deg);
  color: transparent;
}

#headshot img {
  width: 100%;
}

#headshot:hover {
  color: rgba(0,0,0,.75);
  transition: transform 1.5s;
  transform: translate(-50%,-50%) rotate(360deg);
}

.mobile.portrait #headshot {
  width: 45vw;
  height: 45vw;
  border: 20px tomato solid;
  box-shadow: 0px 0px 55px 5px black;
}

.mobile.landscape #headshot {
  width: 45vh;
  height: 45vh;
  border: 10px tomato solid;
  box-shadow: 0px 0px 40px 3px black;
}

#wheee {
  font-size: 32px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  text-align: center;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  transition: color 1.5s;
}

.mobile.landscape #wheee {
  font-size: 4.5vw;
}
.mobile.portrait #wheee {
  font-size: 4.5vh;
}

a {
  color: #eee;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4.5em;
  color: #fb9171;
  margin: 0;
}

h3 {
  font-family: 'Indie Flower', cursive;
  font-weight: lighter;
  font-size: 1.8em;
  color: lightgray;
  margin: 0;
}

#heart {
  color: rgba(200,0,0,.4);
}

#content {
  display: block;
  position: absolute;
  width: 100%;
  min-width: 630px;
  height: auto;
  min-height: 560px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px 0 55px 0;
}

.mobile #content {
  height: 100vh;
  min-height: 0;
  min-width: 0;
  margin: 0;
}

#hexes {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.mobile #hexes {
  opacity: 0.7;
}

#background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#name {
  position: absolute;
  bottom: 17px;
  left: 17px;
  font-family: 'Pacifico', cursive;
  font-size: 1.3em;
  color: magenta;
  text-shadow: 1px 1px 0 white;
  opacity: .8;
  user-select: none;
}

#name div {
  display: inline-block;
  position: relative;
  top: 4px;
}

#footer {
  width: 100%;
  min-width: 630px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 66px;
}

.mobile #footer {
  background-color: rgba(0,0,0,.7);
}
.mobile.portrait #footer {
  height: 11vh;
}
.mobile.landscape #footer {
  height: 15vh;
}

#links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 45px;
  width: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 15px 0 15px;
  background-color: rgba(0,0,0,.3);
  border-radius: 30px;
}

.mobile #links {
  background-color: transparent;
}
.mobile.portrait #links {
  font-size: 4vh;
  width: 80%;
}
.mobile.landscape #links {
  font-size: 5vh;
  width: 60%;
}

#footer .svg-inline--fa:hover{
  color: #ee5;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  animation-name: jiggle;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  padding: 10px;
  overflow: visible;
}

.mobile.portrait .btn {
  animation-name: jiggle-mobile-portrait;
}

.mobile.landscape .btn {
  animation-name: jiggle-mobile-landscape;
}

.btn.selected {
  animation: none;
  z-index: 2;
}

.btn:not(.selected):hover {
  animation: none;
  font-size: 38px!important;
  width: 132px!important;
  height: 132px!important;
}

@keyframes jiggle {
  to {
    font-size: 30px;
    width: 116px;
    height: 116px;
  }

  from {
    font-size: 34px;
    width: 124px;
    height: 124px;
  }
}

@keyframes jiggle-mobile-portrait {
  to {
    font-size: 7.75vw;
    width: 29vw;
    height: 29vw;
  }

  from {
    font-size: 9vw;
    width: 31vw;
    height: 31vw;
  }
}

@keyframes jiggle-mobile-landscape {
  to {
    font-size: 6.75vh;
    width: 27vh;
    height: 27vh;
  }

  from {
    font-size: 8vh;
    width: 29vh;
    height: 29vh;
  }
}

.btn-border {
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 300px;
}

.mobile .btn-border {
  display: none;
}

.btn-background {
  width: 100%;
  height: 100%;
  border-radius: 300px;
}

.mobile .btn-background {
  box-shadow: 0px 0px 40px black;
}

#about {
  animation-delay: 0s;
}
#about .btn-background {
  background-color: mediumaquamarine;
}
#about .btn-border {
  border: mediumaquamarine 2px solid;
}

#resume {
  animation-delay: 1.2s;
}
#resume .btn-background {
  background-color: mediumslateblue;
}
#resume .btn-border {
  border: mediumslateblue 2px solid;
}

#portfolio {
  animation-delay: .4s;
}
#portfolio .btn-background {
  background-color: magenta;
}
#portfolio .btn-border {
  border: magenta 2px solid;
}


#contact {
  animation-delay: .8s;
}
#contact .btn-background {
  background-color: #ee5;
}
#contact .btn-border {
  border: #ee5 2px solid;
}

.label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Amatic SC';
  font-weight: 700;
  text-shadow: 2px 1px 0 #222;
  user-select: none;
  z-index: 1;
}
