body {
  background: repeating-linear-gradient(
   135deg,
   #222,
   #222 35px,
   #333 35px,
   #333 70px
  );
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#headshot {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 160px;
  width: 160px;
  border-radius: 90px;
  border: 9px solid tomato;
  overflow: hidden;
  transform: translate(-50%,-50%) rotate(0deg);
  transition: all 1.5s;
  color: transparent;
}

#headshot img {
  width: 100%;
}

#headshot:hover {
  color: rgba(0,0,0,.75);
  transition: all 1.5s;
  transform: translate(-50%,-50%) rotate(360deg);
}

#wheee {
  font-size: 28px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  text-align: center;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
}

a {
  color: #eee;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4.5em;
  color: #fb9171;
  margin: 0;
}

h3 {
  font-family: 'Indie Flower', cursive;
  font-weight: lighter;
  font-size: 1.8em;
  color: lightgray;
  margin: 0;
}

#heart {
  color: rgba(200,0,0,.4);
}

#content {
  display: block;
  position: absolute;
  width: 100%;
  min-width: 600px;
  height: auto;
  min-height: 550px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px 0 55px 0;
}

#hexes {
  width: 100%;
  height: 100%;
  z-index: 2;
}

#background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#footer {
  color: rgba(50,50,150,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  position: absolute;
  bottom: 12px;
  left: 50%;
  padding: 0 13px 0 13px;
  transform: translate(-50%);
  background-color: rgba(0,0,0,.3);
  border-radius: 30px;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 32px;
  width: 118px;
  height: 118px;
  line-height: 118px;
  border-radius: 59px;
  animation-name: jiggle;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.btn:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 100px;
}

.btn:hover {
  animation: none;
  font-size: 38px;
  width: 132px;
  height: 132px;
  line-height: 132px;
  border-radius: 66px;
}

@keyframes jiggle {
  to {
    font-size: 30px;
    width: 116px;
    height: 116px;
    line-height0 116px;
    border-radius: 58px;
  }

  from {
    font-size: 34px;
    width: 124px;
    height: 124px;
    line-height: 124px;
    border-radius: 62px;
  }
}

#about {
  background-color: mediumaquamarine;
  transform: translate(-50%,-50%) translate(-160px, -110px);
  animation-delay: 0;
}
#about:after {
  border: mediumaquamarine 2px solid;
}

#resume {
  background-color: mediumslateblue;
  transform: translate(-50%,-50%) translate(-160px, 110px);
  animation-delay: 1.2s;
}
#resume:after {
  border: mediumslateblue 2px solid;
}

#portfolio {
  background-color: magenta;
  transform: translate(-50%,-50%) translate(160px, -110px);
  animation-delay: .4s;
}
#portfolio:after {
  border: magenta 2px solid;
}


#contact {
  background-color: #ee5;
  transform: translate(-50%, -50%) translate(160px, 110px);
  animation-delay: .8s;
}
#contact:after {
  border: #ee5 2px solid;
}

.label {
  color: white;
  text-align: center;
  font-family: 'Amatic SC';
  font-weight: 700;
  text-shadow: 2px 1px 0 #222;
  user-select: none;
}
