body {
  background-color: #d5bef9;
}

#portrait {
  margin-bottom: 20px;
}

#portrait img {
  height: 175px;
  border-radius: 50px;
}

#footer {
  margin-top: 20px;
  color: rgba(50,50,150,.4);
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4.5em;
  color: #fb9171;
  margin: 0;
}

h3 {
  font-family: 'Indie Flower', cursive;
  font-weight: lighter;
  font-size: 1.8em;
  color: lightgray;
  margin: 0;
}

#heart {
  color: rgba(200,0,0,.4);
}

#content {
  background-color: white;
  border-radius: 50px;
  border: 6px dotted orange;
  width: 600px;
  height: 425px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
