body.mobile {
  background: none;
  background-color: #222;
}

.mobile.portrait #headshot {
  width: 45vw;
  height: 45vw;
  border: 20px tomato solid;
  box-shadow: 0px 0px 55px 5px black;
}
.mobile.landscape #headshot {
  width: 45vh;
  height: 45vh;
  border: 10px tomato solid;
  box-shadow: 0px 0px 40px 3px black;
}

.mobile.landscape #wheee {
  font-size: 4.5vw;
}
.mobile.portrait #wheee {
  font-size: 4.5vh;
}

.mobile #content {
  height: 100vh;
  min-height: 0;
  min-width: 0;
  margin: 0;
  overflow: hidden;
}

.mobile #hexes {
  opacity: 0.7;
}

.mobile #footer {
  background-color: rgba(0,0,0,.7);
}
.mobile.portrait #footer {
  height: 11vh;
}
.mobile.landscape #footer {
  height: 15vh;
}

.mobile #links {
  background-color: transparent;
}
.mobile.portrait #links {
  font-size: 4vh;
  width: 80%;
}
.mobile.landscape #links {
  font-size: 5vh;
  width: 60%;
}

.mobile .btn {
  padding: 20px;
}
.mobile.portrait .btn {
  animation-name: jiggle-mobile-portrait;
}
.mobile.landscape .btn {
  animation-name: jiggle-mobile-landscape;
}

.mobile.portrait .btn:not(.selected):hover {
  animation: none;
  font-size: 10vw!important;
  width: 32vw!important;
  height: 32vw!important;
}
.mobile.landscape .btn:not(.selected):hover {
  animation: none;
  font-size: 9vh!important;
  width: 31vh!important;
  height: 31vh!important;
}

@keyframes jiggle-mobile-portrait {
  to {
    font-size: 7.75vw;
    width: 29vw;
    height: 29vw;
  }

  from {
    font-size: 9vw;
    width: 31vw;
    height: 31vw;
  }
}
@keyframes jiggle-mobile-landscape {
  to {
    font-size: 6.75vh;
    width: 27vh;
    height: 27vh;
  }

  from {
    font-size: 8vh;
    width: 29vh;
    height: 29vh;
  }
}

.mobile .btn-border {
  display: none;
}
.mobile .btn-background {
  box-shadow: 0px 0px 35px 5px black;
}

.mobile #about .btn-background {
  background: radial-gradient(
    #d2ff69,
    mediumaquamarine 70%
  );
}
.mobile #resume .btn-background {
  background: radial-gradient(
    #4cf3c6,
    mediumslateblue 80%
  );
}
.mobile #portfolio .btn-background {
  background: radial-gradient(
    #b927f3,
    magenta 65%
  );
}
.mobile #contact .btn-background {
  background: radial-gradient(
    #f99f74,
    #ee5 70%
  );
}

.mobile.portrait .label {
  text-shadow: 4px 2px 0 #222;
}
