<div class="timeline-container">
    {{#if isMobile}}
        <div class="timeline-content">
            {{#each data}}
                {{> timelineItem}}
                {{#if @last}}
                {{else}}
                    <div class="timeline-separator"></div>
                {{/if}}
            {{/each}}
        </div>
    {{else}}
        <div class="timeline-content timeline-left">
            {{#each data}}
                {{#ifEven @index}}
                    {{> timelineItem}}
                {{/ifEven}}
            {{/each}}
        </div>
        <svg class="timeline-svg">
            <defs></defs>
        </svg>
        <div class="timeline-content timeline-right">
            {{#each data}}
                {{#ifEven @index}}
                {{else}}
                    {{> timelineItem}}
                {{/ifEven}}
            {{/each}}
        </div>
    {{/if}}
</div>