@import (reference) '../index.less';

@hexAspectRatio: cos((pi() / 6));
@hexClip: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
@boxClip: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);

.hex-gallery {
    margin-top: 2.5em;
    &:not(:last-child) {
        margin-bottom: 9em;
    }
}

.hex-gallery-row {
    position: relative;
    overflow: visible;
    white-space: nowrap;

    text-align: center;
    filter: drop-shadow(0 0 .5em fade(@bgColor, 90%));

    .hex-image-wrapper {
        position: relative;

        display: inline-block;
        margin: 0 .4em;
        background-color: white;

        cursor: zoom-in;
        &, .hex-image {
            transition: all .6s;
            clip-path: @hexClip;
            -webkit-clip-path: @hexClip;
        }
        &:hover {
            &, .hex-image {
                clip-path: @boxClip;
                -webkit-clip-path: @boxClip;
            }
        }

        .hex-image {
            display: block;
            height: 300px;
            width: (300px * @hexAspectRatio);

            margin: .45em;
            object-fit: cover;
        }

        &.placeholder {
            pointer-events: none;
            opacity: 0;
        }

        .svg-inline--fa {
            z-index: 3;
            position: absolute;
            bottom: 12%;
            left: 50%;
            transform: translateX(-50%);

            font-size: 2.1em;
            color: white;
            filter: drop-shadow(0 0 .1em fade(black, 60%));

            animation: pulse 1.8s alternate-reverse infinite;
            user-select: none;
        }
        @keyframes pulse {
            from {opacity: 0};
            to {opacity: .9};
        }
    }

    height: 250px;
    &:last-child {
        height: auto;
    }

    &:hover {
        z-index: 2;
    }
}

.no-shadow {
    .hex-gallery-row {
        filter: none;

        .hex-image-wrapper {
            margin: 0 0.3em;
        }
    }
}

.gallery-header {
    margin-bottom: 0.1em;

    .gallery-title {
        font-family: 'Chakra Petch', serif;
        font-size: 1.85em;
        font-weight: 500;

        float: left;
        padding-right: .2em;
        margin: 0;

        max-width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .gallery-links {
        float: right;
        .btn {
            margin-left: .4em;
        }
    }
}

.gallery-info {
    position: relative;
    display: flex;
    align-items: center;

    border-radius: @borderRadius;
    overflow: hidden;
    
    box-sizing: border-box;
    padding: 1em 0;

    .info-panel {
        width: 50%;
        box-sizing: border-box;
        padding: 0 2.25em;

        font-family: 'Nunito', sans-serif;

        .info-table {
            width: 100%;
            font-size: 1.2em;

            tr {
                min-height: 1.75em;

                &:not(:nth-child(1)) {
                    td:nth-child(1) {
                        padding-top: .1em; // Align label with skill badges
                    }
                }
            }

            td {
                vertical-align: top;
            }
            td:nth-child(1) {
                font-weight: 600;
                text-align: right;
            }
            td:nth-child(2) {
                font-weight: 300;
                text-align: left;
                padding-left: .3em;
            }
        }

        .gallery-description {
            font-size: 1.1em;
        }
    }

    .separator {
        align-self: stretch;
        margin: 1em 0;
        width: 2px;
        border-radius: 2px;
        background-color: white;
    }
}

.gallery-info, .gallery-header {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

@modalImageWidth: 85%;
@modalImageHeight: 70%;

@modalImageTop: calc((100% - @modalImageHeight) / 2);
@modalImageLeft: calc((100% - @modalImageWidth) / 2);

#modal-viewer {
    z-index: 6;
    background-color: transparent;
    pointer-events: none;

    transition: background-color 1s;

    body.show-modal & {
        background-color: fade(@bgColor, 85%);
        pointer-events: all;

        #modal-image {
            transition: top 1s, left 1s, height 1s, width 1s;
            opacity: 1;

            width: @modalImageWidth!important;
            height: @modalImageHeight!important;

            top: @modalImageTop!important;
            left: @modalImageLeft!important;
        }

        #modal-caption {
            transition-delay: 0.7s;
            opacity: 1;
        }
    }

    #modal-image {
        position: absolute;
        object-fit: contain;

        transition: top 2.5s, left 2.5s, height 2.5s, width 2.5s, opacity .75s;
        opacity: 0;
    }

    #modal-caption {
        opacity: 0;
        transition: opacity 1s;

        z-index: 1;

        position: absolute;
        width: calc(@modalImageWidth * 0.85);
        left: 50%;
        top: calc(@modalImageHeight + @modalImageTop + 1em);

        transform: translateX(-50%);

        font-family: 'Nunito', sans-serif;
        color: white;
        font-size: 1.3em;
        letter-spacing: .3px;

        text-align: center;
        text-shadow: 0 0 1px black, 0 0 4px black;
    }
}

.mobile {
    .hex-gallery-text {
        font-size: 1.2em;
    }

    .gallery-header {
        margin-bottom: .45em;
    }
    .gallery-title, .gallery-links {
        float: none;
    }
    .gallery-title {
        max-width: unset;
        white-space: normal;
        font-size: 1.6em;

        .title-link {
            display: none;
        }
    }
    .gallery-links {
        width: 100%;
        margin-top: .5em;

        font-size: 1.1em;
        text-align: center;

        .btn {
            margin: 0 .2em .3em .2em;
            padding: .15em 1.5em;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .btn-background {
            display: none;
        }
    }

    .separator {
        margin: 1.4em auto;
        width: 30%;
        height: .12em;
        border-radius: .6em;
    }

    .gallery-info {
        display: block;
        .info-panel {
            width: 100%;
        }
    }

    .hex-gallery-row {
        overflow-x: scroll;

        .hex-image-wrapper:hover {
            &, .hex-image {
                clip-path: @hexClip;
                -webkit-clip-path: @hexClip;
            }
        }

        .hex-image {
            margin: 0.55em;
        }

        &:last-child {
            margin-bottom: .75em;
        }
    }

    #modal-viewer #modal-caption {
        width: 100%;
        left: 0;
        top: unset;
        bottom: 0;

        transform: none;

        padding: 1em .8em;
        box-sizing: border-box;

        font-size: 1.4em;
        background-color: fade(lighten(@bgColor, 20%), 70%);
    }

    &.portrait {
        .hex-gallery-row {
            // Negate margins on parent .page; keep consistent with mobile.less
            margin-left: -2em;
            margin-right: -2em;
            padding: 0 2em;

            .hex-image-wrapper {
                .hex-image {
                    height: calc(65vw / @hexAspectRatio);
                    width: 65vw;
                }
            }
        }
    }

    &.landscape {
        .hex-gallery {
            &:not(:last-child) {
                margin-bottom: 7em;
            }
        }

        .hex-gallery-row {
            // Negate margins on parent .page; keep consistent with index.less
            margin-left: -140px;
            margin-right: -140px;
            padding: 0 140px;

            .hex-image-wrapper {
                .hex-image {
                    height: 65vh;
                    width: (65vh * @hexAspectRatio);
                }
            }
        }
    }
}