@red: tomato;
@yellow:#ee5;
@green: mediumaquamarine;
@blue: mediumslateblue;
@purple: magenta;
@gray: #777;

@bgColor: #2b1a4f;
@navHeight: 3.2em;
@maxWidth: 2000px;

@borderRadius: .5em;

html {
    overflow: hidden;
    position: relative;
}

body {
    position: relative;
    height: 100vh;

    min-width: 1300px;
    overflow: hidden;

    padding: 0;
    margin: 0;

    background-color: @bgColor;

    a {
        color: white;
    }
}

/* Navigation */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 4;

    width: 100%;
    max-width: @maxWidth;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 8px 10px;
    overflow: auto;

    color: white;
    text-shadow: 1.5px 1px 1px @bgColor;
    font-family: 'Chakra Petch', sans-serif;

    #name {
        opacity: 0.9;
        float: left;
        font-size: 1.4em;

        cursor: pointer;
    }

    #page-links {
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);

        width: 60%;

        font-size: 1.2em;
        font-weight: 300;
        text-transform: uppercase;

        display: flex;
        justify-content: space-evenly;

        a {
            cursor: pointer;
            &.active {
                border-bottom: 3px solid white;
            }
            &:not(.active):hover {
                border-bottom: 1px solid white;
            }
        }
    }

    .social-links {
        float: right;

        a {
            margin: 0 2px;
            font-size: 1em;

            opacity: 0.5;
            &:hover {
                opacity: .9;
            }
        }
    }
}

.social-links {
    a {
        text-decoration: none;
    }
}

/* Page layout */

#page-container {
    z-index: 2;
    position: relative;

    overflow-y: scroll;
    height: calc(100% - @navHeight);

    font-family: 'Chakra Petch', sans-serif;
    color: white;

    .page {
        position: relative;
        padding: 4.75em 140px;
        box-sizing: border-box;

        .page-header {
            display: inline-block;
            font-size: 2.3em;
            margin-bottom: 1em;
            padding: .07em .22em;
            transform: skewX(-10deg);
        }

        .page-content {
            font-family: 'Nunito', sans-serif;
            font-weight: 300;
            font-size: 1.4em;
            line-height: 1.4em;
            text-shadow: 1px 1px 1px fade(black, 60%);
        }
    }

    #intro{
        img {
            display: block;
            height: 375px;
            margin: 0 auto 40px auto;

            transition: transform 1.2s;
            &:hover {
                transform: scale(1.05);
            }
        }

        #short-bio {

            font-family: 'Nunito', sans-serif;
            font-size: 1.8em;
            font-weight: 300;
            line-height: 1.4em;
            letter-spacing: .5px;

            text-shadow: 0 0 3px fade(white, 65%), 1px 1px 1px @bgColor;
        }
    }

    #projects {
        .project-wrapper {
            display: block;
            text-align: center;

            margin-bottom: 2em;
            margin-top: 6em;
            &:first-of-type {
                margin-top: 0;
            }
        }

        #tree-climber {
            filter: drop-shadow(0 0 .5em fade(black, 40%));
            object-fit: contain;
        }

        #maze-maker {
            margin-bottom: -1.5em;
        }
    }

    #conclusion {
        padding-top: 3em;
        padding-bottom: 3.5em;

        .page-content {
            font-size: 1.4em;
            letter-spacing: .01em;
            line-height: 1.5em;

            text-shadow: 0 0 .2em fade(black, 70%), 0 0 .85em white;
        }
    }
}

#svg-hexes {
    z-index: 1;
}

/* Assorted small components */

.btn {
    position: relative;
    display: inline-block;

    text-decoration: none;

    font-size: 1.1em;

    a {
        text-decoration: none;
    }

    &, .btn-background {
        padding: 6px 30px;
    }
    .btn-background {
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
        transition: clip-path .3s;

        position: absolute;
        top: 0;
        left: 0;

        background-color: white;
    }
    &:hover .btn-background {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.external-project {
    pointer-events: none;
    border: none;

    width: 80%;
    height: 30em;
}

.decal-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 1em;

    .decal-wrapper {
        position: relative;

        .decal {
            filter: drop-shadow(0 0 .4em fade(@bgColor, 50%));
        }

        .decal-info {
            opacity: 0;
            transition: .5s opacity;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            padding: 2.3em 1.5em;
            border-radius: @borderRadius;

            margin: 0 -2em;

            .decal-title {
                font-size: 1.5em;
                font-weight: 600;
                margin-bottom: .7em;
            }

            .decal-description {
                font-family: 'Nunito', sans-serif;
                font-size: 1.15em;
                line-height: 1.5em;
                text-shadow: .03em .03em .1em fade(black, 60%);
            }
        }

        &:hover {
            .decal {
                 // Manually adjust based on page color; currently configured for yellow
                filter: contrast(0) sepia(1) hue-rotate(-342deg) saturate(2) brightness(0.6);
            }

            .decal-info {
                opacity: 1;
            }
        }
    }
}

/* Color classes */

.color-class(@color) {
    @darkenedColor: desaturate(darken(@color, 15%), 25%);
    @darkestColor: darken(@darkenedColor, 15%);

    .dark-bg, .page-header {
        background-color: @darkestColor;
    }

    .dark-text {
        color: @darkestColor;
    }

    .shaded-blur {
        background-color: fade(@darkestColor, 60%);
        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background-color: fade(@darkestColor, 45%);
        }
    }
    .bg-blur {
        background-color: transparent;
    }

    .stroked-text {
        text-shadow: .07em .07em 0 @darkestColor, .1em .07em 0 @darkestColor;
    }

    &.badge {
        background-color: @color;
    }

    .btn {
        box-shadow: 0 0 4px @color;
    }

    // Hex styles

    fill: @color;
    stroke: @color;

    &.outlined {
        fill: transparent;
        stroke: @darkenedColor;
    }

    &.hole {
        fill: @darkenedColor;
        stroke: @darkenedColor;
    }

    // Timeline styles

    .item-header {
        background-color: fade(@darkestColor, 50%);
    }
}
.red {
    .color-class(@red);
}
.yellow {
    .color-class(@yellow);
}
.green {
    .color-class(@green);
}
.blue {
    .color-class(@blue);
}
.purple {
    .color-class(@purple);
}
.gray {
    .color-class(@gray);
}

/* Utility classes */

.mobile-only {
    display: none;
}
.desktop-only {
    display: block;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 100%;
    width: 100%;
    max-width: @maxWidth;
}

.bg-blur {
    background-color: fade(@bgColor, 70%);
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: transparent;
        backdrop-filter: blur(.14em);
        -webkit-backdrop-filter: blur(.14em);
    }
}

.shaded-blur {
    backdrop-filter: blur(.22em);
    -webkit-backdrop-filter: blur(.22em);
    background-color: fade(@bgColor, 75%);
}

.badge-container {
    margin: -.2em; // Cancel badge margins at outer borders
    .badge {
        display: inline-block;
        color: white;

        padding: .25em .8em;
        margin: .2em;

        border-radius: 2em;
    }
}

.small-text {
    font-size: 0.7em;
}

.padded-title {
    width: 65%;
    margin: 0 auto;
    padding: .4em .7em;
    border-radius: 1em;
    text-align: center;
}