html {
    -webkit-text-size-adjust: 100%;
}

body.mobile {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    #page-container {
        height: 100%;

        #intro {
            #short-bio {
                width: 100%;
            }
        }
    }

    #nav-bar {
        display: none;
    }

    &.portrait {
        font-size: 2.5em;

        #page-container {
            .page {
                padding-left: 2em;
                padding-right: 2em;
            }
            #intro {
                img {
                    height: auto;
                    width: 75vw;
                }
            }
        }
    }

    &.landscape {
        font-size: 1.5em;

        #page-container {
            #intro {
                img {
                    height: 80vh;
                }
            }
        }
    }
}