@import (reference) 'index.less';

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow-x: hidden;
}

body.mobile {
    &, #svg-hexes {
        max-width: unset;
        min-width: unset;
    }

    .mobile-only {
        display: unset;
    }
    .desktop-only {
        display: none;
    }

    #mobile-nav-btn {
        z-index: 5;

        position: fixed;
        top: .2em;
        left: 0em;

        font-size: 2em;
        color: white;
        background-color: transparent;

        filter: drop-shadow(.11em .08em 0 @bgColor);

        padding: .3em .45em .2em .45em;
        border-radius: @borderRadius;

        transition: opacity .4s;
        transition-delay: .4s;
    }
    #mobile-nav-menu {
        z-index: 6;

        position: fixed;
        top: 0;
        left: 0;

        transition: transform .5s;
        transform: translateX(-100%);

        background-color: fade(@bgColor, 80%);

        border-bottom-right-radius: @borderRadius;
        border-right: 2px solid fade(white, 60%);
        border-bottom: 2px solid fade(white, 60%);

        .nav-link, .home-link {
            display: block;
            position: relative;

            color: white;

            font-family: 'Chakra Petch', serif;
            font-size: 1.4em;
            font-weight: 100;
            text-transform: uppercase;

            padding: .6em 3em .6em 2.15em;

            &.active::before {
                content: '\2B22 ';
                opacity: .8;

                font-family: 'Noto Sans Symbols 2', sans-serif; // Needed to support hexagon unicode symbol on all devices
                font-size: .85em;

                position: absolute;
                top: 55%;
                left: 1.15em;
                transform: translateY(-50%);
            }

            &:not(:last-child) {
                border-bottom: 1px solid fade(white, 30%);
            }
        }
    }
    &.show-mobile-nav {
        #mobile-nav-btn {
            opacity: 0;
            transition-delay: 0s;
        }
        #mobile-nav-menu {
            transform: none;
        }
    }

    #mobile-social-links {
        z-index: 2;

        position: fixed;
        top: .4em;
        right: .25em;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;

        font-size: .9em;
        opacity: 0.9;

        a {
            margin: .9em 0;
            padding: .55em .35em;
            border-radius: 2em;
            .shaded-blur();
        }
    }

    #page-container {
        height: 100%;

        .padded-title {
            width: 100%;
            box-sizing: border-box;
        }

        .decal-gallery {
            display: block;

            width: 80%;
            margin-left: auto;
            margin-right: auto;

            font-size: 1.2em;

            .decal-wrapper {
                margin: 6em 0;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }

                .decal {
                    display: block;
                    margin: 0 auto;
                }

                .decal-description {
                    text-shadow: .06em .06em .1em black;
                }

                .decal, .decal-info {
                    transition: 1s opacity;
                    transition-delay: .3s;
                }

                &:hover, &.active {
                    .decal {
                        filter: none;
                        opacity: 0.6;
                    }
                    .decal-info {
                        opacity: 1;
                    }
                }
            }
        }

        #projects {
            .project-row {
                display: block;
                margin-top: 0;

                .project-wrapper {
                    display: block;
                    margin-bottom: 1em;
                }

                .page-content {
                    padding: 0 .75em;
                }
            }
        }

        #conclusion {
            .copyright {
                margin-bottom: 0;
            }
        }
    }

    &.no-shadow {
        .decal-gallery .decal-wrapper .decal {
            filter: none;
        }
    }

    &.portrait {
        font-size: 1.85em;

        #page-container {
            .page {
                padding-left: 2em;
                padding-right: 2em;
            }

            #intro {
                img {
                    height: auto;
                    width: 75vw;
                }
            }

            #projects {
                .external-project {
                    height: 30em;
                }
            }

            #conclusion {
                text-align: center;

                padding-top: 2.5em;
                padding-bottom: 2.5em;

                #outro {
                    filter: drop-shadow(0.08em 0.06em 0.01em black);
                }

                .skewed-text {
                    display: inline;

                    font-style: italic;
                    white-space: normal;

                    padding-left: 0;
                    padding-right: 0;

                    background-color: transparent;
                }
            }

            .decal-gallery {
                .decal {
                    width: 100%;
                    max-height: 100vh;
                    object-fit: contain;
                }
            }
        }
    }

    &.landscape {
        #mobile-nav-menu {
            font-size: .9em;
            .nav-link, .home-link {
                font-size: 1.5em;
            }
            .social-links {
                font-size: 1.4em;
            }
        }

        #page-container {
            .page {
                padding-left: 3.5em;
                padding-right: 3.5em;
            }

            #intro {
                img {
                    margin-top: 0;
                    height: 80vh;
                }
            }

            #projects {
                #maze-maker {
                    height: 60vh;
                }
                #mx-pac-man, #tree-climber {
                    height: 88vh;
                }
            }

            .decal-gallery {
                .decal {
                    width: 65%;
                    max-height: 120vh;
                    object-fit: contain;
                }
            }
        }
    }
}